main {
  display: grid;

  & h1 {
    margin-top: 1rem;
    font: var(--text-xl);
  }

  & .form-newItem {
    margin-top: 2.75rem;
    display: flex;
    gap: 1rem;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 2.5rem;

    & li {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.75rem 0.5rem;
      background-color: var(--bg--color-secondary);
      border-radius: 12px;

      gap: 0.75rem;

      & button {
        margin-left: auto;
      }
    }
  }

  & .alert-delete {
    display: none;
    align-items: center;
    gap: 0.5rem;
    margin-block: 2.25rem 9.3125rem;
    background-color: var(--color-danger);
    color: var(--always-white);
    padding: 0.75rem;
    border-radius: 12px;
    font: var(--text-lg);

    & button {
      margin-left: auto;
    }
  }

  & .delete-multiple {
    display: none;
    align-items: center;
    gap: 0.5rem;
    margin-block: 2.25rem 9.3125rem;
    background-color: var(--color-danger);
    color: var(--always-white);
    padding: 0.75rem;
    border-radius: 12px;
    font: var(--text-lg);

    & button {
      margin-left: auto;
    }
  }

  & .btn-remove-checked {
    display: none;
    justify-content: center;
    background-color: var(--color-danger);
    color: var(--always-white);
    padding: 0.75rem;
    border-radius: 12px;
    font: var(--text-lg);
    margin-block: 2.25rem 9.3125rem;
  }
}

@media (width < 30em) {
  & main {
    & .form-newItem {
      display: grid;
    }
  }
}
