nav {
  & a {
    display: flex;
    align-items: center;
    font: var(--text-sm);
    gap: 0.1rem;
    color: var(--color-brand);
    margin-top: 3.875rem;

    & img {
      width: 0.875rem;
    }
  }
}
